.faq-title{
    text-align: center;
    padding-bottom: 3.5rem;
}

.faq-title h2{
    font-size: 2.5rem;
    padding: 2rem;
    color: var(--dark-text);
}

.faq-title p{
    font-size: 1.2rem;
    width: 60%;
    margin: 0 auto;
    text-align: justify;
    color: var(--dark-text);
}

.questions .question{
    border: 1px solid var(--light-blue);
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 600px;
    width: 90%;
}

.questions .question-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.question-title h2{
    font-size: 1.4rem;
}

.question-title button{
    width: 3rem;
    height: 3rem;
    border: 1px solid var(--color-gray);
    border-radius: 50%;
    cursor: pointer;
}

.question-answer p{
    font-size: 1.2rem;
    margin-top: 1rem;
}    

@media screen and (max-width: 420px) {
    .faq-title h2{
        font-size: 2rem;
    }
}

@media screen and (max-width: 352px) {
    .faq-title h2{
        font-size: 1.6rem;
    }
}
    
